<div class="news">
  <h2>tin mới</h2>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
        <tr>
          {% assign m = item.date | date: "%-m" %}
          <th scope="row">{{ item.date | date: '%-d' }}
            {% case m %}
            {% when '1' %}tháng một,
            {% when '2' %}tháng hai,
            {% when '3' %}tháng ba,
            {% when '4' %}tháng tư,
            {% when '5' %}tháng năm,
            {% when '6' %}tháng sáu,
            {% when '7' %}tháng bảy,
            {% when '8' %}tháng tám,
            {% when '9' %}tháng chín,
            {% when '10' %}tháng mười,
            {% when '11' %}tháng mười một,
            {% when '12' %}tháng mười hai,
          {% endcase %} {{ item.date | date: '%Y' }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>không còn tin nào nữa...</p>
  {% endif %}
</div>
