---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">
     {% if site.title == blank %}{{ site.title }}{% else %}{{ site.first_name }} {{ site.middle_name }}  <span class="font-weight-bold">{{ site.last_name }}</span>{% endif %}
    </h2>
  </header>

  <article>
    <div class="row">
      <div class="col">
        <div class="clearfix">
          {{ content }}
        </div>
      </div>
            
      <div class="profile col-4 " align="center">
        <sl-card class="card-image">
          <img slot="image" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
          <span style="font-weight: 400;">AI Engineer</span>
          <p>Hồ Chí Minh, Việt Nam</p>
            <span class="contact-icon text-center">
              <a href="mailto:%76%6E%64%65%65.%68%75%79%6E%68@%67%6D%61%69%6C.%63%6F%6D"><i class="fas fa-envelope"></i></a>     
              <a href="https://github.com/vndee" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/vndee" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.facebook.com/vndee.huynh" target="_blank" title="Quora"><i class="fab fa-facebook"></i></a>
            </span>
        </sl-card>        
      </div>
    </div>


    {% if page.news %}
      {% include news.html %}
    {% endif %}
  </article>

</div>
